<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>

</head>
<body>
  <h2>
  sample web application
  </h2>

  <p>
    Running on Nginx 
    <% if node[:ec2] %>in server <code><%= node[:ec2][:instance_type] %></code> instance<% end %>
  </p>
</body>
</html>
